header{
    background: #a4d4b4;
    padding: 1%;
    font:normal 12pt Arial;
    color: white;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#logo-nome{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex: 1.3;
}

#titulo-principal{
    font:normal 30pt Arial;
    color: white;
    text-align: left;
    font-weight: bold;
}

#procurar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1.6;
    align-items: center;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 0%;
}

#dados-digitados{
    width: auto;
    height: auto;
    padding: 9.7px;
    font-size: 12px;
    border: 1px solid #f1f1f1;
    width: 100%;
    background: #f1f1f1;
    border-radius: 10px 0px 0px 10px;
    margin: 10 10 10 10px;
}

#botao-lupa{
    background: #f1f1f1;
    border-radius: 0px 10px 10px 0px;
    color: #32322c50;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    border-left: none;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#cliente{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex: 1;
}

#usuario{
    padding: 5px;
}

#login{
    text-decoration: none; 
    color: white;
}

#outros{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex: 0.3;
}

#botao-coracao{
    background: #a4d4b4;
    border: none;
    cursor: pointer;
    padding: 20px;
    color: white;
}

#botao-sacola{
    background: #a4d4b4;
    border: none;
    cursor: pointer;
    color: white;
}

#segunda-parte{
    font:normal 15pt Arial;
    padding: 5%;
    color:black;
    margin: 1px 1px;
    text-align: center;
    padding: 25px;
}

#slider{
    width: 800px;
    height: 560px !important;
    overflow: hidden;
    margin: auto;
    padding: 0 0 2%;
    height: 60vh;
}

#slides{
    width: 500px ;
    height: 500px ;
    display: flex;
}

#slides input {
    display: none;
}

.slide{
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

#navegacao-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -160%;
}

#radio3:checked ~ .first{
    margin-left: -320%;
}

#navegacao-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

#navegacao-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

#navegacao-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ #navegacao-auto #auto-btn1{
    background: white;
}

#radio2:checked ~ #navegacao-auto #auto-btn2{
    background: white;
}

#radio3:checked ~ #navegacao-auto #auto-btn3{
    background: white;
}

#destaques{
    font:normal 15pt Arial;
    color: #32322C;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

#livros-disponiveis{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

#livros-disponiveis li{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: baseline;
    align-items: center;
}

#livros-disponiveis li:hover{
    font-weight: bold;
}

.livros {
    width: 50%;
    height: 80%;
    cursor: pointer;
}

#pagamento{
    background: #b96d40;
    color: whitesmoke;
    font: normal 15pt Arial;
    width: 45%;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    padding: 2% 3% 2% 3%;
    margin: auto;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18pt;
}

#cartao{
    color: whitesmoke;
}

#ler{
    margin:auto;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
}

.hashtag{
    font:normal 18pt Arial;
    color: #32322C;
    font-weight: bold;
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font: normal 12pt Arial;
    padding: 2%;
    text-align: left;
    margin: 0 20% 0 20%;
    padding: 2% 0 0 0;
}

.link-espaco{
    flex: 1;
}

.titulo-link{
    color: #b96d40; 
    font-size: 15pt;
    font-weight: bold;
}

.link{
    text-decoration: none; 
    color:black
}

#formas-pagamento{
    width: 100%;
}

#rodape{
    background: #a4d4b4;
    color: white;
    font:normal 12pt Arial;
    text-align: center;
    padding: 1.25%;
}

@media screen and (max-width: 480px){
    #cabecalho, #livros-disponiveis, #pagamento, #rodape{
        width: auto;
    }

    #cabecalho{
        display: block;
    }

    #logo-nome{
        align-items: center;
        padding: 10px 30px 10px 30px;
    }

    #segunda-parte{
        padding: 5% 0% 5% 0%;
    }

    #slider, #slides, .slide img{
        width: 380px;
        height: 200px !important;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -100%;
    }

    #radio3:checked ~ .first{
        margin-left: -200%;
    }

    #navegacao-auto{
        width: 380px;
        margin-top: 160px;
    }

    #navegacao-manual{
        width: 380px;
    }
}
